@media (min-width:768px){
	#menu li a:hover{
		color:var(--accent-color);
	}
	.chess-list{
	    width: 100vw;
    max-width: 1960px;
    margin-left: 50%;
    transform: translateX(-50%);
}
}
@media (min-width:992px){
	#menu ul.sub-menu{
	position:absolute;
	display:block;
	visibility:hidden;
	opacity:0;
	z-index:-9999;
	top:0;
	left:0;
	transition:.5s;
}
#menu ul.sub-menu li{
	position:static;
}
#menu ul.sub-menu > li:hover{
	background-color:rgba(0,0,0,0.15);
}
#menu ul.top-menu > li:hover > ul.sub-menu{
	top:100%;
	visibility:visible;
	opacity:1;
	z-index:3;
}
#menu ul.sub-menu ul.sub-menu{
	top:0 !important;
	left:100%;
	height: 100%;
    max-height: 100%;
    overflow: auto;
	transition:0s;
	z-index:-1;
	margin-left:-1px;
	box-shadow:inset 3px 0 5px rgba(0,0,0,0.15);
	background:#333;
}

#menu ul.sub-menu li:hover > ul.sub-menu{
	visibility:visible;
	opacity:1;
}

.social-links a:hover{
	background-color:var(--main-color);
	color:#fff;
}
	
}

@media (min-width:1200px){

.subscribe-section .btitle{
	font-size:42px;
	line-height:1.5;
	margin-bottom:28px;
}
.subscribe-section{
	padding:0 195px;
}
.subscribe-section .inner{
	padding:76px 0;
}
#footer .row {
    margin-left: -24px;
    margin-right: -24px;
}
#footer .row div[class*=col] {
    padding-left: 24px;
    padding-right: 24px;
}
}
@media (max-width:1199px){
	.post-listing > .col-3{
		-ms-flex: 0 0 33.333%;
		flex: 0 0 33.333%;
		max-width: 33.333%;
	}
	.chess-list .item{
		min-height:300px;
	}
	.chess-list .item .item-content{
		padding:24px;
	}
	.chess-list .item .item-content .title{
		font-size:24px !important;
		margin-bottom:16px !important;
	}
	.news-section{
		padding:32px;
	}
	.product-cat-list li a span{
		font-size:32px;
	}
	.product-cat-list li a img{
		height:250px;
	}
	
}

@media (max-width:991px){
	body{
		padding-top:54px;
	}
	#header{
		padding:10px 0;
		position:fixed;
		top:0;
		left:0;
		width:100%;
	}
	#header .logo img{
		height:24px;
	}
#button-menu{
	display:block;
}
#menu,
#header .social-wrap .social-links,
header .social-wrap > .link{
	display:none;
}

header .social-wrap{
	padding-bottom:0;
}

#searchform{
	max-width:unset;
	margin-left:auto;
	margin-right:8px;
}

#menu .mobile-social{
	display:flex;
}

#menu{
	margin:0;
	position:fixed;
	min-height: 100vh;
	height: -webkit-fill-available;
	top:0;
	left:0;
	z-index:-1;
	width:100%;
	padding:56px 16px 16px;
	background:#fff;
	flex-direction:column;
}

#menu.is-visible{
	display:flex;
}

body.admin-bar #menu{
	padding-top:88px;
}
#menu ul.top-menu{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
}
#menu ul.top-menu li{
	float:none;
	padding:0;
}

#menu ul.top-menu li a{
	font-size:20px;
}
#menu li.menu-item-has-children{
	display:flex;
	align-items:center;
	flex-wrap: wrap;
	justify-content: center;
}
#menu li.menu-item-has-children .open-submenu{
	width:32px;
	height:32px;
	display:inline-block;
	text-align:center;
	line-height:32px;
	background:url(../../img/ic-arrow-select.svg) no-repeat center center;
	background-size:20px auto;
}
#menu li.menu-item-has-children.submenu-opened .open-submenu{
	transform:rotate(180deg);
}
#menu li.menu-item-has-children .sub-menu{
	display:none;
}
#menu li.menu-item-has-children.submenu-opened .sub-menu{
	display:block;
}
#menu li.menu-item-has-children .open-submenu:after{
	content:"";
	display:none;
}
#searchform{
	height:34px;
}
#footer{
	padding:32px 0 0px;
}
#footer .col-15{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
#footer .col-first{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
	text-align:center;
}

    .post-listing > .col-3,
	.related-row > .col-4{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
	
	.news-section > .row > .col-3,
	.news-section > .row > .col-9{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.news-section > .row > .col-3{
		text-align:center;
	}
	
	.news-section .block-content .btitle{
		margin-bottom:16px;
	}
	
	.news-carousel,
	.news-section .block-content .button{
		margin-top:32px;
	}
	
	.product-cat-list li a span{
		font-size:26px;
	}
	.product-cat-list li a img{
		height:150px;
	}
	
	.subscribe-section .inner{
		max-width:100%;
		align-items:center;
	}
	.subscribe-section .btitle{
		text-align:center;
	}
	
}

@media screen and (max-width: 782px) {
	body.admin-bar #header,
	 body.admin-bar #header.clearHeader{
		top:46px;
	}
	
}

@media screen and (max-width: 767px) {
	h1, .h1{
		font-size:25px;
	}
	.btitle{
		font-size:22px;
	}
	input, textarea, select{
		font-size:16px;
	}
	#footer .copyrights{
		padding:16px 0;
	}
	#footer .copyrights .col{
		width:100%;
		text-align:center;
		
	}
	#footer .social-block{
		margin:12px 0 auto;
	}
.archive-main-section,
.single-section{
	padding:32px 16px;
	margin-left:-16px;
	margin-right:-16px;
	border-radius:0px;
	width:unset;
}
aside,
.posts-block
{
width:100%;
min-width:100%;
}
aside > ul > li.widget_categories ul{
	margin:-4px;
	display:flex;
	flex-wrap:wrap;
}
aside > ul > li.widget_categories ul > li{
	width:50%;
	min-width:50%;
	padding:4px;
	margin:0 !important;
}
.share-buttons{
	position:static !important;
	width:unset;
	margin:32px 0 0;
	display:flex;
}
.share-buttons a{
	margin:0 8px 0 0;
}
.post-meta-footer{
	padding-top:16px;
}
.related-row{
	margin:0 -8px -16px;
}

.related-row > .col-4{
	padding-left:8px;
	padding-right:8px;
}
.post-card .card-media{
	padding-top:100%;
}
.post-card .card-title a{
	font-size:16px;
}
.post-card .card-title a span{
	white-space:unset;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.chess-list{
		margin-bottom:-16px;
	}
	.chess-list .item{
		margin-bottom:16px;
		border-radius:18px;
		padding:24px 16px 16px;
		display:block;
		max-width: 100%;
		min-height:unset;
	}
	.chess-list .item .item-content, 
	.chess-list .item .item-img{
	max-width: 100%;
}
 .chess-list .item .item-img{
border-radius:8px;
overflow:hidden;
width:100%;}
.chess-list .item .item-img img{
position:static;
border-radius:8px;}
.chess-list .item .item-content{
	display:block;
text-align:center;
	padding:0;
	margin-bottom:32px;}
	
	.chess-list .item .item-content .title{
		font-size:22px;
	}
	.news-section{
		padding:16px;
		border-radius:0px;
		margin-left:-16px;
		margin-right:-16px;
		width:unset;
	}
	.news-carousel{
		padding-right:0;
		margin:32px -16px 0;
	}
	.news-carousel .slide{
		margin-left:16px;
		margin-right:16px;
	}
	.news-carousel .slick-arrow{
		display:none !important;
	}
.page-head{
	padding-bottom:32px;
}
body > #main{
	overflow-x:hidden;
}
.catalog-section, .taxonomy-section{
	padding:16px;
	margin-left:-16px;
	margin-right:-16px;
	border-radius:0px;
	width:auto;
}
.product-cat-list li + li{
	margin-top:16px;
}
.product-cat-list li a span{
		font-size:20px;
	}
	.product-cat-list li a img{
		height:110px;
	}
	.pagination{
		margin-bottom:16px;
	}
	.product-card .card-title{
		font-size:18px;
	}
	#footer .col-contact{
	min-width:unset;
}
}


@media screen and (max-width: 600px) {
    body.admin-bar #header.clearHeader{
		top:0px;
	}
}

@media (max-width:575px){
	#searchform #s{
	opacity:0;
	visibility:hidden;
}

#searchform #s.is-visible{
	opacity:1;
	visibility:visible;
}
.post-listing{
	margin-left:-8px;
	margin-right:-8px;
	margin-bottom:-16px;
}
.post-listing > .col-3{
	padding-left:8px;
	padding-right:8px;
}

#footer .footer-mobile-contact{
	display:block;

}

.d-575-none{
	  display:none;
}
.subscribe-section{
	padding-left:32px;
	padding-right:32px;
}
.subscribe-code{
	max-width:100%;
	width:100%;
}
.subscribe-code .mc4wp-form-fields{
	flex-direction:column;
	background:none;
	height:auto;
}
.subscribe-code .mc4wp-form-fields input[type="email"]{
	border-radius:26px;
	height:44px;
	text-align:center;
}
.subscribe-code .mc4wp-form-fields .button[type="submit"]{
	margin:16px 0 0;
	padding-top:15px;
	min-height:44px;
	height:44px;
}

.subscribe-code .mc4wp-form-fields label,
.subscribe-code .mc4wp-form-fields .button[type="submit"]{
width:100%;}

}
